header {
    background-color: #2f7cd5;

    .select-field {
        &:first-of-type {
            float: left;
            margin: 19px 0 0 33px;
            width: 144px;
            @include breakpoint(smaller) {
                width: 100px;
                margin-left: 10px;
            }
        }

        &:last-of-type {
            float: right;
            margin: 19px 0 0 16px;;
            width: 71px;
            @include breakpoint(smaller) {
                width: 65px;
                margin-left: 5px;
            }
        }

        select {
            display: none;
        }
    }

    img {
        float: left;
        @include user-select(none);
        @include breakpoint(s-extra-small) {
            padding: 7px 0 12px;
            width: 85px;
        }
    }

    .phone {
        float: right;
        margin-top: 26px;
        color: #fff;
        @include breakpoint(smaller) {
            display: none;
        }
    }
}