.navigation {
    @include breakpoint(extra-small) {
        background-color: #f2f2f2;
    }

    .navbar-header {
        .registration {
            float: left;
            display: none;
            margin: 0;
            padding-left: 45px;
            @include breakpoint(extra-small) {
                display: block;
            }
        }

    }
    .navbar-nav > li > a {
        @include breakpoint(large) {
            font-size: 16px;
        }
    }
    .navbar-collapse {
        @include breakpoint(extra-small) {
            position: absolute;
            z-index: 10;
            width: 100%;
            padding-right: 13px;
            padding-left: 13px;
            background-color: #f2f2f2;
        }
        .nav {
            li {
                a {
                    @include breakpoint(small) {
                        padding: 0 7px;
                    }
                    @include breakpoint(extra-small) {
                        text-align: center;
                    }
                }
            }

        }
        .registration {
            float: right;
            margin: 0;
            @include breakpoint(extra-small) {
                display: none;
            }
        }
    }
}
