.registration {
    font-size: 0;

    li {
        position: relative;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            display: block;
        }

        &:first-child {
            &::before {
                top: 10px;
                left: -25px;
                width: 20px;
                height: 22px;
                @include icons-sprite(login);
                @include breakpoint(small) {
                    left: -17px;
                }
            }
        }
        &:last-child {
            &::before {
                top: 12px;
                left: -1px;
                width: 2px;
                height: 17px;
                background-color: #000;
            }

            a {
                padding-right: 0;
            }
        }

        a {
            display: block;
            padding: 0 9px;
            font-size: 14px;
            line-height: 40px;
            color: #000;
            @include breakpoint(large) {
                font-size: 16px;
            }

            &:hover {
                text-decoration: none;
                color: #2f7cd5;
            }
        }
    }
}