<section class="advantages">
    <div class="container">
        <h2 class="sign">Преимущества сервиса</h2>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 avail">
                <h3>Уникальный принцип работы</h3>
                <p>Система Z-PRICE собирает цены магазинов, получая их непосредственно со страниц сайтов, без каких-либо прайс-листов.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 avail">
                <h3>Уникальный принцип работы</h3>
                <p>Система Z-PRICE собирает цены магазинов, получая их непосредственно со страниц сайтов, без каких-либо прайс-листов.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 avail second-row">
                <h3>Масштабы деятельности</h3>
                <p>База Z-PRICE насчитывает более 5000 сайтов Украины, России и Белоруссии. Ежедневно с них индексируются миллионы товаров, проверяются цены и наличие.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 avail second-row">
                <h3>Масштабы деятельности</h3>
                <p>База Z-PRICE насчитывает более 5000 сайтов Украины, России и Белоруссии. Ежедневно с них индексируются миллионы товаров, проверяются цены и наличие.</p>
            </div>
        </div>
    </div>
</section>