<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 article clearfix">
                <div class="date">
                    <span>21.04</span>
                    <span>2015</span>
                </div>
                <div class="caption clearfix">
                    <h3>Заголовок новости который не влазит в одну строку и даже в 2 строки</h3>
                    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                        Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                    <a href="javascript:void(0)">Подробнее</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 article clearfix">
                <div class="date">
                    <span>21.04</span>
                    <span>2015</span>
                </div>
                <div class="caption clearfix">
                    <h3>Заголовок новости который не влазит в одну строку и даже в 2 строки</h3>
                    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                        Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                    <a href="javascript:void(0)">Подробнее</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 article hidden-sm clearfix">
                <div class="date">
                    <span>21.04</span>
                    <span>2015</span>
                </div>
                <div class="caption clearfix">
                    <h3>Заголовок новости который не влазит в одну строку и даже в 2 строки</h3>
                    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                        Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                    <a href="javascript:void(0)">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>