<section class="partners">
    <div class="container">
        <h2 class="sign">С нами работают</h2>
        <ul>
            <li class="visible-thumb"><a href=""><img src="client/images/partners/eldorado.png" alt=""/></a></li>
            <li class="visible-thumb"><a href=""><img src="client/images/partners/palladium.png" alt=""/></a></li>
            <li class="visible-thumb"><a href=""><img src="client/images/partners/moyo.png" alt=""/></a></li>
            <li><a href=""><img src="client/images/partners/electrolux.png" alt=""/></a></li>
            <li><a href=""><img src="client/images/partners/delongi.png" alt=""/></a></li>
            <li><a href=""><img src="client/images/partners/gorenije.png" alt=""/></a></li>
        </ul>
    </div>
</section>