<section class="tariffs">
    <div class="container">
        <h2 class="sign">Тарифы</h2>
        <table class="hidden-xs">
            <thead>
            <tr>
                <th></th>
                <th>пакет "эконом"</th>
                <th>пакет "базовый"</th>
                <th>пакет "премиум"</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span></span>Привязка товаров</td>
                <td>Автоматическая привязка товаров</td>
                <td>Ручной контроль автоматической привязки товаров</td>
                <td>Ручная привязка товаров + усиленный контроль</td>
            </tr>
            <tr>
                <td><span></span>Пересечений по товарам</td>
                <td>70% пересечений по товарам</td>
                <td>85% пересечений по товарам</td>
                <td>99% пересечений по товарам</td>
            </tr>
            <tr>
                <td><span></span>Частота обновлений</td>
                <td>2-3 раза в сутки</td>
                <td>2-3 раза в сутки</td>
                <td>каждые 2 часа + возможность обновления в реальном времени</td>
            </tr>
            <tr>
                <td><span></span>Поддержка</td>
                <td>через email и тикет систему</td>
                <td>голосовая поддержка</td>
                <td>голосовая поддержка + консультирование в вопросах</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Разработка индивидуальных отчетов и функций</td>
            </tr>
            <tr>
                <td></td>
                <td><a class="booking" href="#economy" data-toggle="modal">Оформить за 1000 грн</a></td>
                <td><a class="booking" href="#base" data-toggle="modal">Оформить за 3000 грн</a></td>
                <td><a class="booking" href="#premium" data-toggle="modal">Оформить за 5000 грн</a></td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-12 rate">
                <h3>пакет "эконом"<br/><small>от 1000 грн</small></h3>
                <div class="rate-description">
                    <p>Автоматическая привязка товаров</p>
                    <hr/>
                    <p>70% пересечений по товарам</p>
                    <hr/>
                    <p>Обновление информации 2-3 раза в сутки</p>
                    <hr/>
                    <p>Поддержка через email и тикет систему</p>
                    <a class="booking" href="#economy" data-toggle="modal">Оформить за 1000 грн</a>
                </div>
            </div>
            <div class="col-xs-12 rate">
                <h3>пакет "базовый"<br/><small>от 3000грн</small></h3>
                <div class="rate-description">
                    <p>Ручной контроль автоматической привязки товаров</p>
                    <hr/>
                    <p>85% пересечений по товарам</p>
                    <hr/>
                    <p>Обновление информации 2-3 раза в сутки</p>
                    <hr/>
                    <p>Голосовая поддержка</p>
                    <a class="booking" href="#base" data-toggle="modal">Оформить за 3000 грн</a>
                </div>
            </div>
            <div class="col-xs-12 rate">
                <h3>пакет "премиум"<br/><small>от 5000 грн</small></h3>
                <div class="rate-description">
                    <p>Ручная привязка товаров + усиленный контроль</p>
                    <hr/>
                    <p>99% пересечений по товарам
                    <hr/>
                    <p>Обновление информации каждые 2 часа + возможность обновления в реальном времени</p>
                    <hr/>
                    <p>голосовая поддержка + консультирование в вопросах</p>
                    <a class="booking" href="#premium" data-toggle="modal">Оформить за 5000 грн</a>
                </div>
            </div>
        </div>
    </div>
</section>