.advantages {
    padding: 30px 0 15px;

    .sign{
        margin-top: 0;

        &::before {
            @include icons-sprite(sign-1);
        }
    }
    .avail {
        padding: 25px 15px 0 91px;
        @include breakpoint(extra-small) {
            padding: 25px 75px 0 93px;
        }
        @include breakpoint(smaller) {
            padding: 25px 15px 0 50px;
        }

        &.second-row {
            padding-top: 45px;
        }

        h3 {
            position: relative;
            font-size: 18px;
            color: #2f7cd5;

            &::before {
                content: "";
                position: absolute;
                top: -3px;
                left: -32px;
                display: block;
                width: 26px;
                height: 26px;
                border: 2px solid #2f7cd5;
                @include icons-sprite(ok);
                @include border-radius(50%);
            }
        }
        p {
            margin-top: 5px;
        }
    }
}