.banner {
    padding-top: 40px;
    background-image: url("../../images/slider/slider-back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include breakpoint(small){
        padding-bottom: 40px;
    }
    @include breakpoint(extra-small){
        padding-bottom: 40px;
    }
    .banner-image {
        text-align: right;
        @include breakpoint(extra-small){
            text-align: center;
        }
        img {
            width: 435px;
            padding-right: 25px;
            @include breakpoint(small){
                width: 100%;
            }
            @include breakpoint(extra-small){
                width: 100%;
                max-width: 350px;
            }
        }
    }
    h3 {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 700;
        color: #fff;
    }
    .providers {
        margin-top: 13px;
        li{
            display: block;
            padding: 9px 0;
            a {
                vertical-align: top;
                font-size: 16px;
                color: #fff;
                &::before {
                    content: "";
                    display: inline-block;
                    margin-right: 5px;
                    width: 22px;
                    height: 22px;
                    border: 2px solid #fff;
                    @include border-radius(50%);
                    @include icons-sprite(arrow-white);
                }
                &:hover {
                    text-decoration: underline;
                    color: #fcc000;
                    &::before {
                        border-color: #fcc000;
                        @include icons-sprite(arrow-orange);
                    }
                }
            }
        }

    }
    .buttons-group {
        margin-top: 27px;
        font-size: 0;
        li {
            display: inline-block;
            @include breakpoint(extra-small){
                display: block;
                margin-top: 15px;
                text-align: center;
            }
            &:nth-child(2){
                margin-left: 17px;
                @include breakpoint(extra-small){
                    margin-left: 0;
                }
            }
            .button {
                text-align: left;
                @include breakpoint(small){
                    width: 160px;
                    padding-left: 15px;
                }
            }
        }
    }
}