.partners {
    padding: 25px 0;
    @include user-select(none);

    .sign{
        margin: 0;

        &::before{
            @include icons-sprite(sign-2);
        }
    }

    ul {
        margin-top: 20px;
        padding-left: 50px;
        font-size: 0;
        @include breakpoint(extra-small) {
            padding-left: 0;
            text-align: center;
        }

        li {
            display: inline-block;
            width: 170px;
            margin-left: 10px;
            @include breakpoint(medium) {
                width: 115px;
                margin-left: 35px;
            }
            @include breakpoint(small) {
                width: 95px;
            }
            @include breakpoint(extra-small) {
                width: 25%;
                margin-top: 10px;

                &:nth-child(3n+1){
                    margin-left: 0;
                }
            }
            @include breakpoint(smaller) {
                width: 30%;
            }

            &:first-child {
                margin-left: 0;
            }

            a {
                display: block;
                text-align: center;

                img {
                    display: inline-block;
                    width: 100%;
                    @include breakpoint(large) {
                        width: auto;
                    }

                }
            }
        }
    }
}